! urxvt
URxvt.cursorColor: #395573
URxvt.scrollBar: false
URxvt.font: xft:CodeNewRomanNerdFont:size=20:antialias=true
URxvt.boldFont: 
!xft:Monaco for Powerline:bold:size=14:antialias=true
URxvt.geometry:             150x60
URxvt*letterSpace: -2
! transparency
!URxvt.transparent: true
!URxvt.tintColor: #101010
!URxvt.shading: 4

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true




 
! fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!black
*color0:  #073642
*color8:  #002b36
!red
*color1:  #9a3a3e
*color9:  #dc5e61
!green
*color2:  #91ab3a
*color10: #91ab3a
!yellow
*color3:  #c7ad58
*color11: #b17f2a
!blue
*color4:  #295874
*color12: #548194
!magenta
*color5:  #cd656e
*color13: #a76166
!cyan
*color6:  #88c8c3
*color14: #50807c
!white
*color7:  #b8a39d
*color15: #ffffff

